<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.skripsi.mtrtamalate">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MTRTamalate"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.petugas.DetailLaporanPetugasActivity"></activity>
        <activity android:name=".ui.petugas.DetailMasyarakatPetugasActivity" />
        <activity android:name=".ui.koordinator.RiwayatLaporanActivity" />
        <activity android:name=".ui.koordinator.DetailMasyarakatActivity" />
        <activity android:name=".ui.koordinator.DetailLaporanActivity" />
        <activity android:name=".ui.koordinator.DetailPetugasActivity" />
        <activity android:name=".ui.koordinator.LaporanPetugasActivity" />
        <activity android:name=".ui.koordinator.LaporDataSampahActivity" />
        <activity android:name=".ui.koordinator.DataPetugasActivity" />
        <activity android:name=".ui.koordinator.KoordinatorActivity" />
        <activity android:name=".ui.koordinator.DataMasyarakatActivity" />
        <activity android:name=".LoginPetugasActivity" />
        <activity android:name=".ui.masyarakat.riwayat.DetailRiwayatActivity" />
        <activity android:name=".ui.masyarakat.akun.ViewImageActivity" />
        <activity android:name=".ui.masyarakat.akun.ImagePickerActivity" />
        <activity android:name=".ui.masyarakat.akun.TitikLokasiActivity" />
        <activity android:name=".ui.masyarakat.akun.UbahPasswordActivity" />
        <activity android:name=".ui.masyarakat.akun.EditAkunActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.petugas.PetugasActivity" />
        <activity android:name=".ui.masyarakat.sampah.DataSampahActivity" />
        <activity android:name=".ui.masyarakat.FormLaporActivity" />
        <activity android:name=".ui.masyarakat.bacaan.BacaanActivity" />
        <activity android:name=".ui.masyarakat.MasyarakatActivity" />
        <activity android:name=".MainActivity" /> <!-- uCrop cropping activity -->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait" /> <!-- cache directory file provider paths -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAISwXwMy9RIBS6qnrxkC3fPRL3hfSrJSg" />
    </application>

</manifest>